<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <table class="table" th:if="${cart !=null && cart.getProductDtoIntegerMap() .size() > 0}">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productMap: ${cart.productDtoIntegerMap}">
                <td th:text="${productMap.key.name}"></td>
                <td>
                    <img th:src="${productMap.key.image}" style="width: 70px; height: auto">
                </td>
                <td th:text="${productMap.key.price}"></td>
                <td th:text="${productMap.value}"></td>
                <td>
                    <!-- Delete icon modal -->
                    <svg data-bs-toggle="modal"
                         th:data-bs-target="'#deleteModal' + ${productMap.key.id}"
                         xmlns="http://www.w3.org/2000/svg"
                         width="16" height="16" fill="currentColor"
                         class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>

                    <!-- Delete Modal -->
                    <div class="modal fade" th:id="deleteModal + ${productMap.key.id}"
                         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-danger ">
                                    <h5 class="modal-title text-white">Cảnh báo</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Bạn muốn xóa <span class="text-info"
                                                       th:text="${productMap.key.name}"> ?</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">Đóng
                                    </button>
                                    <a th:href="@{/shop/delete(id=${productMap.key.id})}"
                                       class="btn btn-outline-danger">Xóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td th:text="${cart.countTotalPayment()}"></td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-warning" role="alert"
             th:if="${cart ==null || cart.getProductDtoIntegerMap() .size() == 0}">
            Cart Empty.
        </div>

    </div>
</div>


<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>